/* ** ***** ####################     Estructura General del body     #################### ***** ** */

body {
    margin: 0;
    padding: 0.125em;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white; 
    padding-top: 110px;
    background: linear-gradient(rgba(68, 13, 13, 0.35), rgba(38,2,2,0.446)), url(file:///C:/Users/Jos%C3%A9%20Luis/Desktop/TPO/4imagenes/f.png) no-repeat center/cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

/* ** ***** ####################     Estructura General de la Barra de Navegación     #################### ***** ** */

#barra-navegacion{
    background: black; 
    height: 90px;
    width: 95.5%;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 0px 30px;
    box-shadow: 10px 10px #f00612;
}

#barra-navegacion img {
  height: 70%;
  width: 50%;
}

·menu {
  min-width: 7.5em;
  margin: auto;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:25px;
    padding:10px 30px;
    text-transform:uppercase;
    letter-spacing:1px;
}

#menu a:active {
    color: #f30a16;
    background: rgba(182, 31, 20, 0.151);
  }

#menu ul li {
    position:relative;
    font-weight: bold;
    float:left;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background: rgba(202, 218, 233, 0.521);
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgb(43, 95, 95); 
    padding:0;
}
 
#menu ul li:hover > ul {
    display:block;
}

/* ** ***** ####################     Estructura General de la Primera Sección     #################### ***** ** */

#primera-seccion {
    background: rgb(12, 12, 12);
    height:100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 5px 60px;
    font-size: 25px;
    box-shadow: 10px 10px #f00612;
}

/* ** ***** ####################     Inicio Animación Cargando     #################### ***** ** */

.loader {
    width: 120px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.loader span {
    font-size: 15px;
    text-transform: uppercase;
    margin: 5px;
}

.ball {
    width: 16px;
    height: 16px;
    border: 3px solid #f00612;
    border-radius: 50%;
    background-color: #fff;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2) {
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform:
        translateY(-50px) scaleX(1);
    }
}

/* ** ***** ####################     Estructura General de la Segunda Sección     #################### ***** ** */

#segunda-seccion {
    height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    flex-direction:row;
    margin: 20px 20px;
    padding: 10px 30px;
    box-shadow: 10px 10px #f00612;
}

.card{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.card_img{
    border: white 8px solid;
    margin: 5px;
    transition: transform .3s; /* Animation */
}

.card_img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-texto {
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.card_title {
  min-width: 7.5em;
  margin: auto;
}

/* ** ***** ####################     Inicio de RRSS     #################### ***** ** */

.social {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

/* ** ***** ####################     Estructura General de la Tercera Sección     #################### ***** ** */

#tercera-seccion {
    height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    flex-direction:row;
    margin: 20px 20px;
    padding: 10px 30px 10px 70px;
    box-shadow: 10px 10px #f00612;
}

#tercera-seccion-video {
  max-width: 100%;
  min-width: 7.5em;
}

/* ** ***** ####################     Estructura General de la Cuarta Sección     #################### ***** ** */

#cuarta-seccion {
    height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    flex-direction:row;
    margin: 20px 20px;
    padding: 10px 30px;
    box-shadow: 10px 10px #f00612;
}

/* ** ***** ####################     Estructura General de la Quinta Sección     #################### ***** ** */

#quinta-seccion {
    height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    flex-direction:row;
    margin: 20px 20px;
    padding: 10px 30px;
    box-shadow: 10px 10px #f00612;
}

/* ** ***** ####################     Inicio Footer    #################### ***** ** */

footer{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: black;
    margin: 20px 20px;
    box-shadow: 10px 10px #f00612;
    padding: 2px 30px;
}
  
.contenidofooter {
      margin-left: 20px;
      min-width: 7.5em;
      margin: 5px 30px 5px 10px;
}
  
.contenidofooter p {
      height: 90px;
      float: left;
      text-align: left;
      font-size: 20px;
      margin: 10px;
}
  
/* ** ***** ####################     Text Box     #################### ***** ** */

.text-box{
    overflow-x: hidden;
    padding:5px;
    min-width: 7.5em;
    margin: auto;
}
  
.text-box h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    position: relative;
}
  
.text-box h2::before, h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
  
.text-box h2::before {
    background: #000;
    animation:  type 6s steps(25) 10s forwards infinite;
    width: 100%;
}

.text-box span{
    color: #4E91FB;
    font-weight: 900;
    font-size:1.8rem;
}

.text-box h2::after {
    opacity: 1;
    width: 2px; 
    background: #fff;
    color:#fff;
    animation:  type 3s steps(25) 1s forwards infinite,
                blink 0.6s steps(15) infinite;
}
  
@keyframes type {
    to {
      left: 110%;
    }
}
  
@keyframes blink {
    0% , 50%{
      opacity: 0;
    } 
    51%, 100% {
       opacity: 1;
    }
}


/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */
/* ** ***** ##############          Responsive Escritorio          ############## ***** ** */
/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */

@media all and (min-width: 1601px) {

  body {
      background-color: rgb(236, 12, 12);
  }
  
  #tercera-seccion-video iframe {
    width: 415px;
    height: 315px;
  }
  
}

/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */
/* ** ***** ##############    Responsive Escritorio 1600 x 1200    ############## ***** ** */
/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */

@media all and (max-width: 1600px) {

  body {
      background-color: rgb(12, 34, 236);
  }

  #tercera-seccion-video iframe {
    width: 100%;
    height: 315px;
  }

  #barra-navegacion img {
    height: 3em; 
    width: 100%;
  }

  #menu ul a {
    font-size: 18px;
    padding: 3px 10px;
    letter-spacing:1px;
  }

  #primera-seccion {
    height: 120px;
    margin: 8px 8px;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    box-shadow: 10px 10px #f00612;
  }

  #primera-seccion .card {
    height: 100px;
    line-height: 100px;
  }

 .card h1 {
    font-size: 20px;
  }

  .loader {
    width: 4em;
    height: 5em;
  }

  .loader span {
    font-size:12px;
    margin: 2px;
  }

  .ball {
    width: 9px;
    height: 9px;
    border: 1px solid #f00612;
  }

  /* ** ***** ####################     Inicio Footer    #################### ***** ** */

  footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start;
    height: 160px;
    background: black;
    margin: 8px 8px;
    box-shadow: 10px 10px #f00612;
    padding: 1px 10px;
  }

  .contenidofooter {
      margin-left: 10px;
      min-width: 7.5em;
      margin: auto;
  }

  .contenidofooter p {
      margin: 3px;
      float: left;
      text-align: left;
      font-size: 18px;
  }

  .icon {
    padding: 10px 2px 2px 2px;
  }

  /* ** ***** ####################     Text Box     #################### ***** ** */

  .text-box{
    overflow-x: hidden;
    padding: 2px;
    min-width: 7.5em;
    margin: auto;
  }

  .text-box h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    position: relative;
    margin: 5px;
  }

  .text-box h2::before, h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .text-box h2::before {
    background: #000;
    animation:  type 6s steps(25) 10s forwards infinite;
    width: 100%;
  }

  .text-box span{
    color: #4E91FB;
    font-weight: 900;
    font-size: 1em;
  }

  .text-box h2::after {
    opacity: 1;
    width: 2px; 
    background: #fff;
    color:#fff;
    animation:  type 3s steps(25) 1s forwards infinite,
                blink 0.6s steps(15) infinite;
  }

} 

/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */
/* ** ***** ####################     Responsive Notebooks   #################### ***** ** */
/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */

@media all and (max-width: 1023px) {

  body {
    background-color: rgb(11, 26, 240);
  }

  #barra-navegacion img {
    height: 3em; 
    width: 100%;
  }

  #menu ul a {
    font-size: 18px;
    padding: 3px 10px;
    letter-spacing:1px;
  }

  #primera-seccion {
    height: 120px;
    margin: 8px 8px;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    box-shadow: 10px 10px #f00612;
  }

  #primera-seccion .card {
    height: 100px;
    line-height: 100px;
  }

 .card h1 {
    font-size: 20px;
  }

  .loader {
    width: 4em;
    height: 5em;
  }

  .loader span {
    font-size:12px;
    margin: 2px;
  }

  .ball {
    width: 9px;
    height: 9px;
    border: 1px solid #f00612;
  }

  /* ** ***** ####################     Estructura General de la Segunda Sección     #################### ***** ** */

  #segunda-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  .card{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
   
  }

  .card_img{
    height: 300px;
    border: white 0.5em solid;
    margin: 2px;
    transition: transform .3s; /* Animation */
  }

  .card_img img{
    height: 300px;
  }

  .card_img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .card-texto {
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .card_title {
    font-size: 0.7em;
    min-width: 7.5em;
    margin: auto;
  }

  /* ** ***** ####################     Estructura General de la Tercera Sección     #################### ***** ** */

  #tercera-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  #tercera-seccion-video iframe {
    width: 100%;
    height: 300px;
  }

  /* ** ***** ####################     Estructura General de la Cuarta Sección     #################### ***** ** */

  #cuarta-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  /* ** ***** ####################     Estructura General de la Quinta Sección     #################### ***** ** */

  #quinta-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  /* ** ***** ####################     Inicio Footer    #################### ***** ** */

  footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:flex-start;
    height: 160px;
    background: black;
    margin: 8px 8px;
    box-shadow: 10px 10px #f00612;
    padding: 1px 10px;
  }

  .contenidofooter {
      margin-left: 10px;
      min-width: 7.5em;
      margin: auto;
  }

  .contenidofooter p {
      margin: 3px;
      float: left;
      text-align: left;
      font-size: 18px;
  }

  .icon {
    padding: 10px 2px 2px 2px;
  }

  /* ** ***** ####################     Text Box     #################### ***** ** */

  .text-box{
    overflow-x: hidden;
    padding: 2px;
    min-width: 7.5em;
    margin: auto;
  }

  .text-box h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    position: relative;
    margin: 5px;
  }

  .text-box h2::before, h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .text-box h2::before {
    background: #000;
    animation:  type 6s steps(25) 10s forwards infinite;
    width: 100%;
  }

  .text-box span{
    color: #4E91FB;
    font-weight: 900;
    font-size: 1em;
  }

  .text-box h2::after {
    opacity: 1;
    width: 2px; 
    background: #fff;
    color:#fff;
    animation:  type 3s steps(25) 1s forwards infinite,
                blink 0.6s steps(15) infinite;
  }

} 

/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */
/* ** ***** ####################     Responsive Celulares    #################### ***** ** */
/* # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # # * # * # * # * # * # */

@media all and (max-width: 599px) {

    html {
        min-width: 32vw;
    }

    body {
        background-color: rgb(240, 224, 11);
    }

    #barra-navegacion img {
      height: 3em; 
    }

    #menu ul a {
      font-size: 16px;
      padding: 3px 8px;
      letter-spacing:1px;
  }

  #primera-seccion {
    height: 80px;
    margin: 8px 8px;
    padding: 2px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px #f00612;
  }

  #primera-seccion .card {
    height: 80px;
    line-height: 80px;
  }

  .card h1  {
    font-size: 13px;
  }

  .loader {
    width: 48px;
    height: 70px;
  }

  .loader span {
    font-size: 7px;
    margin: 1px;
  }

  .ball {
    width: 6px;
    height: 6px;
    border: 1px solid #f00612;
  }

  /* ** ***** ####################     Estructura General de la Segunda Sección     #################### ***** ** */

  #segunda-seccion {
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  .card{
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card_img{
    height: 200px;
    border: white 4px solid;
    margin: 2px;
    transition: transform .3s; /* Animation */
  }

  .card_img img{
    height: 200px;
  }

  .card_img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .card-texto {
    width: 100px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .card_title {
  min-width: 7.5em;
  margin: auto;
  font-size: 0.77em;
  }

  /* ** ***** ####################     Estructura General de la Tercera Sección     #################### ***** ** */

  #tercera-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  #tercera-seccion-video iframe {
  width: 100%;
  height: 250px;
  }

  /* ** ***** ####################     Estructura General de la Cuarta Sección     #################### ***** ** */

  #cuarta-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  /* ** ***** ####################     Estructura General de la Quinta Sección     #################### ***** ** */

  #quinta-seccion {
    height: 410px;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 3px;
    flex-direction:row;
    margin: 8px 8px;
    padding: 3px 10px;
    box-shadow: 10px 10px #f00612;
  }

  /* ** ***** ####################     Inicio Footer    #################### ***** ** */

  footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background: black;
    margin: 8px 2px;
    box-shadow: 10px 10px #f00612;
    padding: 0px;
  }

  .contenidofooter {
      min-width: 7.5em;
      margin: auto;
  }

  .contenidofooter p {
      margin: 3px;
      float: left;
      text-align: left;
      vertical-align: middle;
      font-size: 15px;
  }

  /* ** ***** ####################     Text Box     #################### ***** ** */

  .text-box{
    overflow-x: hidden;
    padding: 2px;
    min-width: 7.5em;
    margin: auto;
  }

  .text-box h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    position: relative;
  }

  .text-box h2::before, h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .text-box h2::before {
    background: #000;
    animation:  type 6s steps(25) 10s forwards infinite;
    width: 100%;
  }

  .text-box span{
    color: #4E91FB;
    font-weight: 900;
    font-size: 0.6rem;
  }

  .text-box h2::after {
    opacity: 1;
    width: 2px; 
    background: #fff;
    color:#fff;
    animation:  type 3s steps(25) 1s forwards infinite,
                blink 0.6s steps(15) infinite;
  }

} 
